@import "./variables.scss";
@import "./header.scss";
@import "./remoteControl.scss";

body {
  margin: 0;
  //background-color: $background-color;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $text-color;
  padding-top: 38px;
  //background: linear-gradient(to bottom right, $background-color, mix($background-color, #111111, 10));
  background-color: gray
}