@import "./variables.scss";
@import "utils/contrast.scss";

.content {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    user-select: none;
}

.remote-control{
    margin: 5px;
    border: 1px solid mix($text-color, $background-color, 70);
    border-radius: 5px;
    .information { 
        margin: 5px;
        text-align: right;

    }
}
.device {
    min-width:  $controleDevice-width;
    max-width: 100%;
    padding: 10px 0px;

}
.controls{
    border: 1px solid mix($text-color, $background-color, 70);
    text-align: -webkit-center;
    padding: 15px;
    
}

$control-background-color: mix($text-color, $background-color, 10);

.control-button {
    display: block;
    border-radius: 5px;
    border:none;
    min-width: 150px;
    color: mix(mix($text-color, $background-color, 70), contrast($control-background-color));
    box-shadow: 0 5px mix( $control-background-color, contrast($control-background-color), 80);
    margin: 10px;
    min-height: 50px;
    background-color: $control-background-color;
    position: relative;
}

.control-button:hover {
    box-shadow: 0 2px mix( $control-background-color, contrast($control-background-color), 80);
    top: 2px
}

.control-button:focus {
    outline: 0;
}


.outer-frame {
    margin: 0;
}

@media (max-width: $controleDevice-width*2){
    .device {
        width: 90% ;
    }
}

@media (min-width: 1024px){
    .outer-frame {
        width: 20%;
    }
    .inner-frame {
        margin: 0 auto;
        width: 80%;
        background-color: white;
    }
}